/* Style reseting */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  color: #2b3445;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  font-weight: bold;
  text-transform: uppercase;
}

header img {
  height: 55px;
  margin-top: 20px;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

header li {
  margin: 7px 0;
}

header a {
  text-decoration: none;
  color: #2b3445;
}

header a.selected,
header a:hover {
  color: #fe696a;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: end;

  width: 100%;

  font-weight: bold;
  font-style: italic;

  margin-right: 5%;
}

/* Content containers*/
.container-article,
.container-stats,
.container-social {
  width: 95%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

/* Center image inside div */
.container-article img,
.container-social img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-social img {
  width: 40%;
}

/* Headers */
h1 {
  text-align: center;
  font-size: 35px;

  margin-bottom: 0;
}

.container-article h2 {
  font-size: 30px;

  margin: 0;
}

.container-stats h2 {
  font-weight: lighter;
}

/* Paragraphs and font-style classes*/
p {
  line-height: 170%;
}

.container-article p:first-of-type {
  text-align: center;

  font-size: 11px;

  margin-bottom: 30px;
}

.container-article p:nth-of-type(2) {
  margin: 30px 10%;
}

.container-social dd > p {
  margin-top: 0;
}

dd {
  margin-left: 0;
}

.container-social img + p,
.container-social img + p + p {
  font-size: 10px;
}

.container-social img + p {
  margin-top: 10px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.quotation::before {
  content: "«";
}

.quotation::after {
  content: "»";
}

a {
  color: #fe696a;
  text-decoration: none;
}

blockquote {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;

  padding-left: 15px;

  border-style: solid;
  border-width: 0px 0px 0px 7px;
  border-color: #fe696a;
}

.container-social blockquote {
  font-size: 15px;
}

.end-of-article {
  font-size: 13px;
}

/* Lists */
ul {
  list-style: disc;
}

ul.list-icon {
  list-style-image: url("../img/users.svg");
}

.container-stats ol li:first-of-type ul li,
.container-stats ol > li > ul li {
  margin-bottom: 15px;
}

.container-stats ol {
  counter-reset: counter;
  list-style: none;
}

.container-stats ol li > h2 {
  counter-increment: counter;
}

.container-stats ol li > h2::before {
  content: counter(counter) ". ";
  font-size: 23px;
}

.container-social dt {
  font-family: "Times New Roman", Times, serif;
  font-size: 21px;
  font-weight: bold;

  margin-top: 30px;
}
